#titulo {
    color: rgb(104, 100, 92); 
    font-size: 30px;
    text-align: center;
}

body {
    background-color: #E0FFFF;
}

.texto {
    color: rgb(192, 200, 17);
     font-size: 22px;
    text-align: center;
}